{% extends 'index.html' %}



{% block options %}

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('AdminRequest') }}"> Requset Users</a>
          <a class="dropdown-item" href="{{ url_for('UserControler') }}">User Controler</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>

{% endblock %}


{% block header %}

{% endblock %}

{% block content %}
{% block scripts %}
    {% endblock %}

     {% endblock %}