{% extends 'status/parent_login.html' %}



{% block options %}
    {{super()}}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('AdminRequest') }}"> Requset Users</a>
          <a class="dropdown-item" href="{{ url_for('UserControler') }}">User Controler</a>
            <a class="dropdown-item" href="{{ url_for('admin_stat') }}">users statistics</a>
        </div>
    </li>

{% endblock %}


{% block profile %}
{{super()}}


{% endblock %}



{% block header %}

{% endblock %}

{% block content %}
{{super()}}
     {% endblock %}