{% extends 'index.html' %}
{% block options %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          user menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('free_speaking') }}">free speaking</a>
            <a class="dropdown-item" href="#">speech game</a>
        </div>
    </li>
{% endblock %}

{% block content %}
     {% endblock %}

{% block scripts %}
     {% endblock %}