{% extends 'status/normal_login.html' %}
{% block options %}
{{super()}}
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          manager/parents
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ url_for('RequestPermissions_page') }}">Request Permissions</a>
        <a class="dropdown-item" href="{{ url_for('Add_word_page') }}">add/remove words</a>
        <a class="dropdown-item" href="{{ url_for('get_student_result') }}">check student statistics</a>
        </div>
    </li>
     {% endblock %}

{% block profile %}
{{super()}}


{% endblock %}

{% block content %}
{{super()}}
     {% endblock %}