{% if session['permissions'] == 'ADMIN' %}
    {% extends 'status/admin_login.html' %}
{% elif session['permissions'] == 'MANGER' %}
    {% extends 'status/parent_login.html' %}
{% else %}
    {% extends 'status/normal_login.html' %}
{%endif%}




{% block content %}
<div class="container ">
        <div class="row justify-content-md-center" >
               <div class="col-6">
                <h1 style="color:red"><strong>add words</strong></h1>
                  </br> <label>choose user</label> &nbsp; <select id="trainee" name="trainee" width="600px">
        {% for x in trainee %}
          <option style="width: 102%;"   value= '{{ x.User }}'>{{x.User}}</option>
        {% endfor %}
        </select>

</br> <label>choose language</label>&nbsp;
    <select id="language">
  <option value="en-US">english</option>
  <option value="he-IL">hebrew</option>
  <option value="ar-IL">arabic</option>
</select></br>
     <input type="text" id="word" name="word" required>
                   </br>
       <button type="button" id="button">save</button>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="button" value = "delete all" id="delete"></input>
               </div>
        </div>
</div>



{% endblock %}

{% block scripts %}
{{super()}}
<script>


document.getElementById("word").value='';
$(document).ready(function(){

  $("#button").click(function(){
     if (document.getElementById("word").value!=''){
    $.post("{{ url_for('handle_data') }}",
  {
    type_form: "addwords",
    trainee: document.getElementById("trainee").value,
    language: document.getElementById("language").value,
    word:document.getElementById("word").value
  },
 function(status){
   alert(status);
   document.getElementById("word").value='';
  });
  }
  });


    $("#delete").click(function(){
    var retVal = confirm("Do you want to continue ?");
     if (retVal == true ){
    $.post("{{ url_for('handle_data') }}",
  {
    type_form: "deleteAll",
    trainee: document.getElementById("trainee").value,
    language: document.getElementById("language").value
  },
 function(status){
   alert(status);
   document.getElementById("word").value='';
  });
  }
  });

});
</script>

{% endblock %}