{% if session['permissions'] == 'ADMIN' %}
    {% extends 'status/admin_login.html' %}
{% elif session['permissions'] == 'MANGER' %}
    {% extends 'status/parent_login.html' %}
{% else %}
    {% extends 'status/normal_login.html' %}
{%endif%}


{% block content %}

<div  class="container " style="font-size:x-large">
        <div class="row justify-content-md-center" >
               <div class="col-4">
                   <h1><strong style="font-size:xx-large;color:red">Show Profile</strong></h1>
               </br>
            <p> Uername:&nbsp;&nbsp;<strong>{{session['username']}}</strong></p>
                   Email: </br>
            <span class=" badge badge-info">{{email}}</span>
                    </br></br>Tel: </br>
            <span class=" badge badge-info">{{Tel}}</span>
                    </br></br>Address: </br>
            <span class=" badge badge-info">{{address}}</span>
                   </br>
               </div>
        </div>
</div>



     {% endblock %}
