{% extends 'index.html' %}

{% block header %}
  <h1 align="center">{% block title %}Requset Center{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container">
    <form id="Add">
        <table id="RequsetTable" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">user requesting</th>
                    <th scope="col">for user</th>
                    <th scope="col">reason</th>
                    <th scope="col">response</th>
                </tr>
            </thead>
            <tbody>
            {% for req in requests %}
                <tr>

                     <td>{{req.IDrequest}}</td>
                    <td>{{req.requesting}}</td>
                    <td>{{req.user}}</td>
                    <td>{{req.reason}}</td>
                     <td>
                        <div class="btn-group" role="group">
                            <button type="button" onclick="AdminAccept({{req}})" class="btn btn-success">accept</button>
                            <button type="button" onclick="AdminDeny({{req}})" class="btn btn-warning">deny</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function AdminAccept(req) {
        $.post("/Submit1",req,test);
    }
        function AdminDeny(req) {
        $.post("/Submit2",req,test);

    }
            function test(massge) {
        alert(massge);

    }
</script>
{% endblock %}