
<!DOCTYPE html>
<html lang="en" class='notie  js flexbox flexboxlegacy canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}Home</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='NEDD.png') }}">
</head>
<body class="bg">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">NEDD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>

            </li>
     {% block options %}
        {% endblock %}
            </ul>
            <ul class=" my-2 my-lg-0">
            {% block profile %}

            {% endblock %}
            </ul>
        </div>
</nav>


  {% for message in get_flashed_messages() %}
    <div style="color:#ff0000" class="flash">{{ message }}</div>
  {% endfor %}

{% block content %}
<div class="row justify-content-md-center" >
   <div>
    <h1></br>A little about us...</h1>
       <p></p>
       <p style="font-size:large">This website is for anyone whom wants to practice their pronounciation. </br>
           We welcome you to try our Free Speaking feature which allows you to speak freely and we will tell you what we received!</br>
           You can also use the Speech game where we tell you what to say and you have to try and say the sentence/word. </br>
           Also, we record your tries and give you a score for your every try, and how will you know your overall score you ask....</br>
           That's what the Show My Statistics feature is for!
           I hope you find this website helpful and you recommend us to your friends!
       </p>

       </div>
</div>
     {% endblock %}

{% block scripts %}

    {% endblock %}

{% block style %}

    {% endblock %}

<style >
body, html {
      height: 100%;
}

.bg {
  /* The image used */
  background-image: url("http://www.newsongnashville.com/wp-content/uploads/2018/05/beautiful-color-ui-gradients-backgrounds-sweet-morning.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
</style>

</body>
</html>