{% extends 'promo.html' %}

{% block content %}
<h1 align="center">{% block title %}Log In{% endblock %}</h1>
  <form method="post" action="{{ url_for('handle_data') }}">
    <div  class="container ">
        <div class="row justify-content-md-center" >
               <div class="col-6">
                    <label for="inputMain" class="sr-only">UserID</label>
                    <input type="text" name="inputIdMain" id="inputMain" class="form-control" placeholder="UserId" required autofocus">
                    <label for="inputPasswordMain" class="sr-only">Password</label>
                    <input type="password" name="inputPasswordMain" id="inputPasswordMain" class="form-control" placeholder="Password" required>
                    <br />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <br />
                   <input type="hidden" name="type_form" class="form-control" value="login">
                </div>

        </div>
    </div>
  </form>
{% endblock %}


