{% extends 'index.html' %}

{% block header %}
<div class="text-center">
      <h1 class="h1 mb-3 font-weight-normal">Please login</h1>
</div>
{% endblock %}

{% block content %}
<div class="text-center">
<div  class=" d-inline-block ">

﻿<form method="post" class="align-middle " action="{{ url_for('handle_data') }}">

    <img class="mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

    <label for="inputEmail" class="sr-only">user name</label>
    <input type="text" name="username" id="username" class="form-control" placeholder="user name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>/
    <br />
  </form>
</div>
  </div>

{% endblock %}



