{% extends 'index.html' %}

{% block header %}
  <h1 align="center">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" action="{{ url_for('handle_data') }}">
    <div class="container ">

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" name="inputIdMain" id="inputIdMain" class="form-control" placeholder="UserId" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="inputPasswordMain" id="inputPasswordMain" class="form-control" placeholder="Password" required>
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <br />

    </div>
  </form>
  <p style="color:red"> {{ massge }} </p>
{% endblock %}


