{% extends 'index.html' %}

{% block header %}
  <h1 align="center">{% block title %}Register{% endblock %}</h1>
{% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-md-center" >
        <form method="post" action="{{ url_for('Register_data') }}">
            <div class="container">
                <input type="text" name="Register_New_User" id="Register_New_User" class="form-control" placeholder="User" required autofocus>
                <input type="text" name="Register_New_Password" id="Register_New_Password" class="form-control" placeholder="Password" required autofocus>
                <div class="container">
                        <div class="row justify-content-md-center" >
                            <select class="custom-select" id="permissions" name="permissions">
                                <option value="Normal">regular</option>
                                <option value="Manager">Manager</option>
                            </select>
                    </div>
                </div>
                <div align="center">
                    <button  class="btn btn-success" type="submit">Register</button>
                </div>
            </div>

        </form>
    </div>

</div>
{{ register_error }}

{% endblock %}

